body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/302/693/318/musical-notes-background-wallpaper-preview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#options {
  display: flex;
  padding: 2em;
  padding-bottom: 0;
}

#metronome {
  padding-left: 20px;
}
.notes {
  width: 100vw;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.note-white {
  display: flex;
  flex-direction: column-reverse;
  width: 29px;
  height: 150px;
  background-color: white;
}

.note-white-pressed {
  background-color: orange;
}

.note-white:hover {
  background-color: lightgray;
}

.note-black {
  position: relative;
  margin-left: -17px;
  margin-right: -17px;
  width: 18px;
  height: 70px;
  z-index: 2;
  background-color: #333;
  color: white;
  font-size: 8px;
  text-align: justify;
  padding: 5px;
}

.note-black-pressed {
  background-color: orange;
}

.note-black:hover {
  background-color: black;
}

#drums {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
}

.drumnote {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

.drumnote-pressed {
  background-color: orange;
}

.drumnote:hover {
  background-color: lightgray;
}

h3 {
  margin: 25px 0px 10px;
}

#ghost-play-input {
  max-width: 640px;
  resize: none;
  outline: none;
  flex-basis: 65%;
}

#ghost-play-submit,
#ghost-play-stop {
  margin-top: 5px;
  background-color: white;
  padding: 5px;
}

.ghostplay {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#instructions {
  background-color: white;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-right: 5px;
}

#song-list {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
